/*--------------------------------------------------------------------------------
                            Overview
----------------------------------------------------------------------------------*/
body{
    margin:0px;
    padding:0px;
    font-family: Arial, sans-serif;
}




/*--------------------------------------------------------------------------------
                            Menu
----------------------------------------------------------------------------------*/
#menu{
    width: 100%;
    margin: 0;
    padding: 1.2em 0;
    background: #e60014;

}

.spotlight{
    margin: 1px;
}
@media(max-width: 1024px) {
 .spotlight{
     displaydd: none;
 }
}
#logo{
    margin-left:80px;

}
.input-search{
    width: 100%;
    height: auto;
    border:none;
    background-color:#fff;
    padding: 10px 20px ;
    color:#666;
    font-size: 18px;

}


/*--------------------------------------------------------------------------------
                            background e foto de perfil
----------------------------------------------------------------------------------*/

.background{
    width:100%;
    height: 80%;
    margin: 10px;
    border-color: #666;
}
.foto{
    border-radius:90px;
    height: 200px;
    margin: auto;
    text-align: center;
}
.foto p {
  height: 100px;
  color: #999;
}

/*--------------------------------------------------------------------------------
                            background e foto de perfil
----------------------------------------------------------------------------------*/

.info{
  margin: 10px;
  border-color: red;
}



/*--------------------------------------------------------------------------------
                            Footer
----------------------------------------------------------------------------------*/

.footer {
    display: inline-block;
    font: 15px Arial, sans-serif;
    padding: 5px 20px;

  }
