/*--------------------------------------------------------------------------------
                            Overview
----------------------------------------------------------------------------------*/









/*--------------------------------------------------------------------------------
                            Menu
----------------------------------------------------------------------------------*/






/*--------------------------------------------------------------------------------
                            Footer
----------------------------------------------------------------------------------*/

.footer {
    font: 18px Arial, sans-serif;  
    display: inline-block; 
    padding: 5px 20px;
    background-color: #2d3d5a;
    text-align: right;
    color: #fff;
    font-size: 15px;
  }